/*
font-family: 'Barlow', sans-serif; 600
font-family: 'Fraunces', serif; 700-900
*/

*, body {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

h2 {
    font-weight: bold;
}

.mobile-menu {
    display: none;
}

.body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.body__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
}

/* HEADER */
.header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
}

.header__title {
    position: absolute;
    top: 20%;
    width: 500px;
    left: calc(50% - 250px);
    font-family: 'Fraunces', serif;
    letter-spacing: 4px;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
}

.header__background-image {
    box-sizing: border-box;
    z-index: -1;
    height: auto;
    width: 100%;
    object-fit: cover;
}

.navbar {
    position: absolute;
    top: 25px;
    width: calc(100% - 38px);
    display: flex;
    justify-content: space-between;
}

.header__navlinks-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
}

.header__navlink-button {
    background-color: white;
    height: 40px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: black;
    font-family: Fraunces;
    text-transform: uppercase;
    font-size: 12px;
}

.header__navlink {
    color: inherit;
}

.logo {
    display: flex;
    align-items: center;
}

.logo:hover {
    cursor: pointer;
}


/* CONTENT */
.content-row {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    resize: horizontal;
    padding: 0;
    margin: 0;
    border: 0;
}

.content-item {
    width: 50%;
    aspect-ratio: 1 / .8;
    line-height: 0;
    position: relative;
}

.content-item__background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.content-item__text-wrapper {
    position: absolute;
    width: 64%;
    height: 46%;
    line-height: normal;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.content-item__text-content {
    color: #24594F;
    text-align: center;
    max-width: 400px;
    height: 33.33%;
    margin-top: auto;
}


.content-item__header {
    font-size: 35px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

.content-item__text {
    margin-top: auto;
    margin-bottom: auto;
    color: hsl(210, 4%, 67%);
}

.testimonials-container__wrapper {
    display: flex;
    color: hsl(210, 4%, 67%);
    height: 66.66%;
}

/* TESTIMONIALS*/
.testimonials-container {
    height: 500px;
}

.testimonials-container__title-wrapper {
    height: 33.33%;
    color: hsl(210, 4%, 67%);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials-container__title {
    color: hsl(210, 4%, 67%);
    font-size: 20px;
    letter-spacing: 3px;
    font-family: Fraunces;
}

.testimonials-container img {
    max-height: 75px;
    max-width: 75px;
    border-radius: 50%;
}

.image-and-text {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.bottom-images__first-row {
    display: flex;
    padding: 0;
    margin: 0;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
}

.bottom-images__second-row {
    display: flex;
    padding: 0;
    margin: 0;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
}

.bottom-images {
    display: flex;
    padding: 0;
    margin: 0;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
}

.bottom-images__image {
    padding: 0;
    margin: 0;
    border: 0;
    white-space: nowrap;
    box-sizing: border-box;
    width: calc(100% / 2);
}

.client {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client > h2 {
    font-weight: bold;
    color: black;
    font-family: Fraunces;
}

/* FOOTER */
footer {
    background-color: #90D4C5;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: column;;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 250px;
}

.footer__title-wrapper {
    height: 33.333%;
    display: flex;
}

.footer__title {
    color: #26584D;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Fraunces';
    display: block;
    margin-top: auto;
    margin-bottom: 10px;
}

.footer__links-wrapper {
    display: flex;
    height: 33.333%;
    width: 100%;
    justify-content: center;
}

.footer__links {
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}

.footer__btns-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.footer__btns-wrapper > img:hover {
    cursor: pointer;
}

.down-arrow {
    position: absolute;
    top: 40%;
}

.hamburger-btn {
    display: none;
}

/*          MEDIA QUERIES        */
@media screen and (max-width: 768px) {
    .header {
        height: 600px;
    }

    .header__title {
        width: 100%;
        left: 0;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 30px;
    }

    .header__navlinks-wrapper {
        display: none;
    }

    .content-row {
        flex-direction: column;
    }

    .content-row:nth-child(2) > .content-item:first-child {
        order: 1;
    }

    .content-item {
        width: 100%;
    }

    .content-row:nth-child(2) .content-item:nth-child(1) {
        min-height: 450px;
        max-width: 100vw;
    }

    .content-row:nth-child(3) .content-item:nth-child(2) {
        min-height: 450px;
        max-width: 100vw;
    }

    .content-item__text-wrapper {
        height: 80%;
        width: 80%;
        text-align: center;
        align-items: center;
    }

    .content-item {
        height: 700px;
        width: 100vw;
    }

    .testimonials-container__wrapper {
        flex-direction: column;;
        height: calc(100% - 200px);
    }

    .testimonials-container {
        height: 1000px;
    }

    .testimonials-container__title-wrapper {
        height: 200px
    }

    .testimonial {
        height: calc(100% / 3);
    }

    .testimonial__text {
        max-width: 330px;
        text-align: center;
    }

    .bottom-images {
        flex-direction: column;
    }

    .hamburger-btn {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        height: 40px;
        width: auto;
        z-index: 3;
    }

    .mobile-menu {
        display: block;
        height: 300px;
        width: calc(100vw - 40px);
        background-color: white;
        max-width: 300px;
        position: absolute;
        top: 70px;
        right: 20px;
        z-index: 3;
    }

    .mobile-menu__section {
        text-align: center;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-menu__section a {
        color: hsl(210, 4%, 67%);
    }
}